# Backend Gitignore (Java 17 + Spring Boot + Maven)

target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
.classpath
.project
.settings/

# Logs
*.log
logs/

# Secrets & Local Configs
.env
application-local.yml
application-secret.yml
secrets.properties
